- id: 1
  key: renminbi
  code: cny
  symbol: "¥"
  coin: false
  precision: 2
  assets:
    accounts:
      -
        bank: '招商银行'
        address: '6225 0885 6022 3501'
        password: '111111'
        tel: '95555'
- id: 2
  key: satoshi
  code: btc
  symbol: "฿"
  coin: true
  family: BTC
  quick_withdraw_max: 0
  rpc: http://rishab12345:arorarishab123@127.0.0.1:18332
  blockchain: https://blockchain.info/tx/#{txid}
  address_url: https://blockchain.info/address/#{address}
  assets:
    accounts:
      -
        address: 1HjfnJpQmANtuW7yr1ggeDfyfe1kDK7rm3
- id: 3
  key: ether
  code: eth
  symbol: "฿"
  coin: true
  main_address: 0x94158AD9dB2C74b99eEE0D9bca5DecC3c81C66Aa
  family: ETH
  precision: 4
  quick_withdraw_max: 0
  rpc: http://localhost
  blockchain: https://etherscan.io/tx/#{txid}
  address_url: https://etherscan.io/address/#{address}
  assets:
    accounts:
      -
        address: 0x4bA2474e063Aec44e23F2Bf7Fb9e4e2878dBaB44
- id: 4
  key: rupee
  code: inr
  symbol: "₹"
  coin: false
  precision: 2
  assets:
    accounts:
      -
        bank: 'Bank of India'
        address: '9452103100000051'
        password: '111111'
        tel: '95555'
- id: 5
  key: dollar
  code: usd
  symbol: "$"
  coin: false
  precision: 2
  assets:
    accounts:
      -
        bank: 'Bank of India'
        address: '9452103100000051'
        password: '111111'
        tel: '95555'
- id: 6
  key: adollar
  code: aud
  symbol: "$"
  coin: false
  precision: 2
  assets:
    accounts:
      -
        bank: 'Bank of India'
        address: '9452103100000051'
        password: '111111'
        tel: '95555'