- id: btccny
  code: 3
  #name: BTC/CNY      # default name
  base_unit: btc
  quote_unit: cny
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: cny, fixed: 2}
  ask: {fee: 0, currency: btc, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: ethcny
  code: 4
  name: ETH/CNY     
  base_unit: eth
  quote_unit: cny
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: cny, fixed: 2}
  ask: {fee: 0, currency: eth, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: ethbtc
  code: 5
  name: ETH/BTC      
  base_unit: eth
  quote_unit: btc
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: btc, fixed: 4}
  ask: {fee: 0, currency: eth, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: btcinr
  code: 6
  #name: BTC/INR      # default name
  base_unit: btc
  quote_unit: inr
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: inr, fixed: 2}
  ask: {fee: 0, currency: btc, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: ethinr
  code: 7
  name: ETH/INR     
  base_unit: eth
  quote_unit: inr
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: inr, fixed: 2}
  ask: {fee: 0, currency: eth, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: ethusd
  code: 8
  name: ETH/USD     
  base_unit: eth
  quote_unit: usd
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: usd, fixed: 2}
  ask: {fee: 0, currency: eth, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: btcusd
  code: 9
  #name: BTC/INR      # default name
  base_unit: btc
  quote_unit: usd
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: usd, fixed: 2}
  ask: {fee: 0, currency: btc, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: ethaud
  code: 10
  name: ETH/AUD     
  base_unit: eth
  quote_unit: aud
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: aud, fixed: 2}
  ask: {fee: 0, currency: eth, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: btcaud
  code: 11
  #name: BTC/INR      # default name
  base_unit: btc
  quote_unit: aud
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: aud, fixed: 2}
  ask: {fee: 0, currency: btc, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: xrpbtc
  code: 12
  name: XRP/BTC     
  base_unit: xrp
  quote_unit: btc
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: xrp, fixed: 4}
  ask: {fee: 0, currency: btc, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: xrpeth
  code: 13
  name: XRP/ETH      
  base_unit: xrp
  quote_unit: eth
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: xrp, fixed: 4}
  ask: {fee: 0, currency: eth, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: xrpinr
  code: 14
  #name: BTC/INR      # default name
  base_unit: xrp
  quote_unit: inr
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: inr, fixed: 2}
  ask: {fee: 0, currency: xrp, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: xrpusd
  code: 15
  #name: BTC/INR      # default name
  base_unit: xrp
  quote_unit: usd
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: usd, fixed: 2}
  ask: {fee: 0, currency: xrp, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: xrpaud
  code: 16
  base_unit: xrp
  quote_unit: aud
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: aud, fixed: 2}
  ask: {fee: 0, currency: xrp, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: ltcbtc
  code: 17
  name: LTC/BTC     
  base_unit: ltc
  quote_unit: btc
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: ltc, fixed: 4}
  ask: {fee: 0, currency: btc, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: ltceth
  code: 18
  name: LTC/ETH      
  base_unit: ltc
  quote_unit: eth
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: ltc, fixed: 4}
  ask: {fee: 0, currency: eth, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: ltcinr
  code: 19
  #name: BTC/INR      # default name
  base_unit: ltc
  quote_unit: inr
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: inr, fixed: 2}
  ask: {fee: 0, currency: ltc, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: ltcusd
  code: 20
  #name: BTC/INR      # default name
  base_unit: ltc
  quote_unit: usd
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: usd, fixed: 2}
  ask: {fee: 0, currency: ltc, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: ltcaud
  code: 21
  base_unit: ltc
  quote_unit: aud
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: aud, fixed: 2}
  ask: {fee: 0, currency: ltc, fixed: 4}
  sort_order: 1
  #visible: false     # default to true
- id: ltcxrp
  code: 22
  name: LTC/XRP      
  base_unit: ltc
  quote_unit: xrp
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0, currency: ltc, fixed: 4}
  ask: {fee: 0, currency: xrp, fixed: 4}
  sort_order: 1
  #visible: false     # default to true

