<div class="help-block">
  {{ "funds.deposit_currency.desc" | t }}
  <ul>
    <li>{{ "funds.deposit_currency.desc_item_1" | t }}</li>
    <li>{{ "funds.deposit_currency.desc_item_2" | t }} </li>
    <li>{{ "funds.deposit_currency.desc_item_3" | t }}</li>
  </ul>
  <span class="text-danger">{{ "funds.deposit_currency.attention" | t }}</span>
</div>
<form id="currency_deposit" name="deposit_form" class="form form-horizontal transfer-form" ng-controller="DepositsController as depositsCtrl" ng-submit="deposit_form.$valid && depositsCtrl.createDeposit(currency)" novalidate>

  <table class="table">
    <tr>
      <td rowspan="3" class="v-col">{{ "funds.deposit_currency.from" | t }}</td>
      <td><label class="optional control-label">{{ "funds.deposit_currency.deposit_name" | t }}</label><p class="form-control-static">{{name}}</p></td>
      <td rowspan="3" class="v-col">{{ "funds.deposit_currency.to" | t }}</td>
      <td><label class="optional control-label">{{ "funds.deposit_currency.to_name" | t }}</label><p class="form-control-static">Dalla Exchange</p></td>
    </tr>
    <tr>
      <td>
        <label class="select required control-label" for="deposit_fund_source">{{"funds.deposit_currency.deposit_account" | t}} (<a href="javascript:;" ng-click="openFundSourceManagerPanel()">{{ "funds.deposit_currency.manage" | t }}</a>)</label>
        <select id="fund_source" class="select required form-control" name="fund_source"
          ng-model="depositsCtrl.deposit.fund_source"
          ng-options="fs.id as fs.label for fs in fund_sources | filter:{currency:currency}"
          required>
        </select>
      </td>
      <td><label class="optional control-label">{{"funds.deposit_currency.to_account" | t}}</label><p class="form-control-static">945210310000051</p></td>
    </tr>
    <tr class="last-row">
      <td><label class="optional control-label">{{ "funds.deposit_currency.amount" | t}}</label><input class="form-control" id="deposit_sum" name="deposit[sum]" placeholder="{{'funds.deposit_currency.min_amount' | t}}" type="number" min="100" ng-model="depositsCtrl.deposit.amount" required></td>
      <td class="row">
        <span class="col-md-12"><label class="optional control-label">{{ "funds.deposit_currency.to_bank_name" | t }}</label><p class="form-control-static">State Bank of India</p></span>
        <span class="col-md-12"><label class="optional control-label">{{ "funds.deposit_currency.opening_bank_name" | t }}</label><p class="form-control-static">Gwalior</p></span>
      </td>
    </tr>
  </table>

  <div class="form-group">
    <div class="form-submit">
      <input class="btn btn-primary" data-loading-text="Creating..." name="commit" type="submit" value="{{'submit' | t}}">
    </div>
  </div>

</form>